.faded {
  opacity: 0 !important;
}

.txt-faded {
  opacity: 0.5 !important;
}

.opaque {
  opacity: 1 !important;
}

#cta:hover {
  box-shadow: 0 0 0 rgba(0,0,0, 0.4);
  animation: pulse 1s infinite;
  background-color: #4131FF;
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(65,49,255,0.4);
    box-shadow: 0 0 0 0 rgba(65,49,255,0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 24px rgba(65,49,255,0);
    box-shadow: 0 0 0 24px rgba(65,49,255,0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(65,49,255, 0);
    box-shadow: 0 0 0 0 rgba(65,49,255,0);
  }
}

.case-card:hover .previewimg {
  /*transition: all 2s ease-in-out !important;*/
  /*-webkit-transition: all 2s ease-in-out !important;*/
  transform: translateY(calc(-100% + 520px));
  filter: none;
}

.reverse-speed {
  transition: all 1.25s ease-in-out !important;
  -webkit-transition: all 1.25s ease-in-out !important;
}

.case-card:hover .study-button {
  width: 48px;
  top: 376px;
  height: 48px;
  box-shadow: 0 0 0 rgba(0,0,0, 0.4);
  animation: pulse2 1s infinite;
}

.card-works:hover .works-btn {
  /*height: 32px;*/
  width: 48px;
  animation: pulse3 1s infinite;
}

.card-works:hover {
  top: -8px;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.25);
}

.case-card:hover .study-button img {
  width: 24px;
  top: 384px;
  height: 24px;
  margin: 12px auto 8px auto;
}

@keyframes pulse2 {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255,240,0,0.4);
    box-shadow: 0 0 0 0 rgba(255,240,0,0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 24px rgba(255,240,0,0);
    box-shadow: 0 0 0 24px rgba(255,240,0,0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255,240,0, 0);
    box-shadow: 0 0 0 0 rgba(255,240,0,0);
  }
}

@keyframes pulse3 {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255,240,0,0.4);
    box-shadow: 0 0 0 0 rgba(255,240,0,0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 12px rgba(255,240,0,0);
    box-shadow: 0 0 0 12px rgba(255,240,0,0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255,240,0, 0);
    box-shadow: 0 0 0 0 rgba(255,240,0,0);
  }
}

.case-card:hover .card-box {
  top: 400px;
  height: 120px;
}

.case-card:hover .case-sub {
  opacity: 1;
}

.folder:hover + .tab-slctd {
  opacity: 1 !important;
}

