#thebody {
  background-image: url("../../assets/img/grid.png");
  background-size: contain;
  background-repeat: repeat;
  scroll-behavior: smooth;
}

#loadload {
  display: none;
}

html {
  scroll-behavior: smooth;
}

@media (min-width: 992px) {
  #thebody {
    background-size: auto;
  }
}

#logo {
  width: 320px;
  position: relative;
  z-index: 8;
  margin-top: 24px;
}

#title {
  font-size: 24px;
  font-weight: 800;
  color: #4131FF;
}

#subtitle {
  font-size: 16px;
  max-width: 356px;
}

#summary {
  margin-top: 64px;
  margin-left: 16px;
}

#foto {
  margin: 0 auto;
  width: 100%;
  max-width: 920px;
  height: 576px;
  background-color: #EBF3F5;
  margin-top: -192px;
  position: relative;
  z-index: 0;
  top: -64px;
}

@media (min-width: 576px) {
  #foto {
    margin-top: -164px;
    height: 540px;
  }
}

@media (min-width: 768px) {
  #foto {
    margin-top: -32px;
  }
}

@media (min-width: 992px) {
  #foto {
    margin-top: 0px;
    height: 540px;
  }
}

#who {
  position: relative;
  z-index: 1;
  top: -32px;
}

@media (min-width: 992px) {
  #summary {
    margin-left: 64px;
    margin-top: 96px;
  }
}

@media (min-width: 992px) {
  #logo {
    width: 420px;
    position: relative;
    z-index: 5;
  }
}

#cta {
  width: 128px;
  height: 128px;
  background: #4131FF !important;
  margin-top: -156px;
  margin-right: 16px;
  position: relative;
  padding: 16px;
  z-index: 2;
  display: block;
  /*transition: all 200ms;*/
  cursor: pointer;
}

@media (min-width: 992px) {
  #cta {
    width: 216px;
    height: 216px;
    /*background-color: #000;*/
    margin-top: -256px;
    margin-right: 0px;
    position: relative;
    padding: 24px;
    /*display: inline-block;*/
  }
}

#cta-det {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
}

@media (min-width: 992px) {
  #cta-det {
    margin-top: 96px;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
  }
}

#cta-text {
  margin-top: 16px;
}

#navbar {
  position: relative;
  z-index: 5;
  background-color: transparent;
}

#head-block {
  width: 96px;
  height: 232px;
  background-color: #ff0;
  position: absolute;
  z-index: 1;
  /*top: 0px;*/
}

@media (min-width: 768px) {
  #head-block {
    width: 132px;
    height: 320px;
    margin-top: -72px;
  }
}

@media (min-width: 992px) {
  #head-block {
    width: 180px;
    height: 400px;
  }
}

@media (min-width: 768px) {
  #hero {
    margin-top: 40px;
  }
}

#company-name {
  position: relative;
  z-index: 0;
  color: transparent;
}

#takeway-text {
  width: 128px;
  position: relative;
  z-index: 1;
}

@media (min-width: 992px) {
  #takeway-text {
    width: 200px;
  }
}

#takeaway {
  top: -224px;
  position: relative;
  left: -16px;
}

@media (min-width: 992px) {
  #takeaway {
    top: -348px;
    position: relative;
    left: -8px;
  }
}

#do {
  width: 240px;
}

@media (min-width: 992px) {
  #do {
    width: 400px;
  }
}

#ido {
  margin-top: 64px;
}

.showcase {
  display: block;
  /*margin-right: auto;*/
  position: relative;
  width: 100%;
  min-height: 320px;
  height: auto;
  box-shadow: 0px 24px 48px rgba(0, 0, 0, 0.3);
  z-index: 10;
  pointer-events: none;
  background-color: transparent;
}

@media (min-width: 768px) {
  .showcase {
    top: -80px;
    width: 200px;
  }
}

@media (min-width: 992px) {
  .showcase {
    top: -156px;
    width: 320px;
  }
}

#coll-video {
  padding: 24px;
  position: relative;
  z-index: 8;
}

#ido-list {
  width: 100%;
  height: 520px;
  background-color: #4131FF;
  margin-top: 64px;
  padding: 24px;
}

@media (min-width: 768px) {
  #ido-list {
    height: 356px;
  }
}

@media (min-width: 992px) {
  #ido-list {
    height: 340px;
    padding-top: 72px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
  }
}

.ido-title {
  font-size: 16px;
  font-weight: 800;
  color: #fff;
}

.ido-subtitle {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  max-width: 320px;
}

.sect {
  width: 200px !important;
  /*margin-top: 140px;*/
  position: relative;
  /*top: -64px;*/
  z-index: 3;
}

@media (min-width: 768px) {
  .sect {
    width: 320px !important;
    top: -8px;
  }
}

#carousel-case {
  height: 576px;
  background-color: #ddd;
  position: relative;
  /*top: -96px;*/
  z-index: 2;
  margin-top: -24px;
}

#case {
  position: relative;
  margin-top: -192px;
  z-index: 5;
}

@media (min-width: 768px) {
  #case {
    /*position: relative;*/
    margin-top: 156px;
    /*z-index: 5;*/
  }
}

@media (min-width: 992px) {
  #case {
    /*position: relative;*/
    margin-top: 380px;
    /*z-index: 5;*/
  }
}

.w-100.d-block.case-image {
}

.other-card {
  width: 240px;
  height: 240px;
  background-color: #000;
  /*margin: 0 auto;*/
  display: block;
  /*float: left;*/
}

.col.other-col {
  padding-top: 40px;
}

.other-card.odd {
  float: left;
}

.other-card.even {
  float: right;
}

#cta-icon {
  display: block;
  position: relative;
}

#cta-text {
  display: block;
  position: relative;
}

.study-slider {
  width: 100%;
  height: 567px;
  background: #000;
}

.case-card {
  width: 100%;
  background: #000;
  height: 520px;
  max-height: 520px;
  overflow-y: hidden;
  /*cursor: pointer;*/
  box-shadow: 0px 24px 48px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
}

.previewimg {
  width: 100%;
  height: auto;
  transform: translateY(0px);
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  /*-webkit-transition: all .5s ease-in-out;*/
  z-index: 2;
  position: relative;
}

.card-box {
  height: 88px;
  width: 100%;
  background: background: rgba(65, 49, 255, 0.9);
  position: absolute;
  background: rgba(65, 49, 255, 0.9);
  z-index: 3;
  top: 432px;
  padding: 24px;
  transition: all 300ms ease-in-out;
  /*cursor: pointer;*/
  backdrop-filter: blur(4px);
}

.case-title {
  font-size: 24px;
  font-weight: 800;
  color: #fff;
  margin-top: 8px;
  margin-bottom: 8px;
}

.case-sub {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  opacity: 0;
  transition: all 300ms;
}

.study-button {
  width: 32px;
  height: 32px;
  background-color: #FFF000;
  position: absolute;
  top: 416px;
  right: 24px;
  z-index: 4;
  transition: all 300ms ease-in-out;
}

.study-button img {
  width: 16px;
  height: 16px;
  background-color: #FFF000;
  display: block;
  margin: 8px auto;
  float: none;
  transition: all 300ms ease-in-out;
}

#casey {
  margin-top: -64px;
  position: absolute;
  z-index: 1 !important;
  top: -32px;
}

@media (min-width: 992px) {
  #casey {
    margin-top: -480px;
  }
}

#case-row-1 {
  margin-top: -40px;
  position: relative;
  z-index: 100;
}

@media (min-width: 992px) {
  #case-row-1 {
    margin-top: -240px;
  }
}

.tabtab {
  margin-top: 32px;
  width: 100%;
  height: 56px;
  background: #4131FF;
  display: block;
  float: right;
  padding: 15px;
  margin-bottom: 24px;
  /*max-width: 520px;*/
  /*box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.1);*/
  position: relative;
  z-index: 999;
  /*cursor: pointer;*/
}

.folder {
  margin: 8px auto;
  font-size: 12px;
  display: block;
  font-weight: 600;
  text-align: center;
  color: #fff;
  opacity: 1;
  cursor: pointer;
}

.slctd {
  opacity: 1 !important;
}

.folder-icn {
  margin-top: 6px;
  width: 16px;
  display: block;
  float: left;
  margin-right: 4px;
  /*cursor: pointer;*/
}

@media (min-width: 992px) {
  .folder-icn {
    margin-top: 2px;
    width: 24px;
    margin-right: 8px;
    /*cursor: pointer;*/
    margin-left: 8px;
  }
}

.tab-slctd {
  position: relative;
  width: 100%;
  height: 4px;
  background: #FFF000;
  top: 7px;
  /*left: -10px;*/
  transition: all 150ms ease-in-out;
  opacity: 1;
  margin: 0 auto;
}

.col-safari-fix {
  margin: 0 auto;
  max-width: 960px !important;
}

.card-works {
  position: relative;
  top: 0;
  width: 100%;
  height: 340px;
  background: #000;
  padding: 16px;
  /*cursor: pointer;*/
  margin-bottom: 30px;
  transition: all 200ms ease-in-out;
  /*box-shadow: none;*/
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  /*filter: grayscale(100%);*/
}

.works-box {
  width: 100%;
  height: 48px;
  background: rgba(65, 49, 255, 0.7);
  backdrop-filter: blur(8px);
  position: relative;
  top: 260px;
  padding: 12px;
}

.works-btn {
  width: 24px;
  height: 24px;
  background-color: #FFF000;
  position: relative;
  display: block;
  float: right;
  margin-right: 4px;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.69);
  padding: 6px;
  transition: all 300ms ease-in-out;
}

.works-btn-icn {
  width: 12px;
  display: block;
  margin: 0 auto;
  /*float: both;*/
}

.works-title {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin-top: 4px;
  margin-left: 6px;
  display: block;
  float: left;
}

.works-type {
  font-size: 12px;
  display: block;
  color: #000;
  background: rgba(255, 240, 0, 0.7);
  backdrop-filter: blur(4px);
  padding: 10px;
  float: left;
  font-weight: 600;
  position: absolute;
}

.gallery-row {
  display: none;
}

.hello {
  font-size: 24px;
  font-weight: 800;
  margin-top: 96px;
}

.email {
  font-weight: 300;
  font-size: 24px;
  margin-top: 16px;
  border-bottom: 3px solid #FFF000;
  display: block;
  float: left;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

@media (min-width: 576px) {
  .email {
    font-size: 40px;
    margin-top: 32px;
    border-bottom: 3px solid #FFF000;
    display: block;
    float: left;
    cursor: pointer;
  }
}

.getknow-link {
  position: relative;
  top: 0;
  transition: all 200ms ease-in-out;
}

.getknow {
  margin-top: 16px;
  font-size: 16px;
  display: block;
  float: left;
  font-weight: 800;
  color: #4131FF;
  transition: all 200ms ease-in-out;
  position: relative;
  left: 0;
}

@media (min-width: 576px) {
  .getknow {
    margin-top: 24px;
    font-size: 24px;
    display: block;
    float: left;
    font-weight: 800;
    color: #4131FF;
    transition: all 200ms ease-in-out;
  }
}

.getknow-icn {
  display: block;
  float: left;
  position: relative;
  top: 14px;
  left: 16px;
  transition: all 200ms ease-in-out;
}

@media (min-width: 576px) {
  .getknow-icn {
    display: block;
    float: left;
    position: relative;
    top: 27px;
    left: 16px;
    transition: all 200ms ease-in-out;
  }
}

.footer {
  position: absolute;
  left: 0;
  width: 100%;
  height: 32px;
  background: #4131FF;
  z-index: 1;
  /*transition: all 200ms ease-in-out;*/
}

.footer-txt {
  z-index: 2;
  font-size: 12px;
  position: relative;
  top: 32px;
  color: #fff;
}

.nama {
  margin-top: -140px;
  position: relative;
  z-index: 1;
  width: 320px;
}

.cta-disable {
  display: none !important;
}

@media (min-width: 576px) {
  .cta-disable {
    display: block !important;
  }
}

@media (min-width: 768px) {
  .nama {
    margin-top: -156px;
    position: relative;
    z-index: 1;
    width: 520px;
  }
}

#hero {
}

.summary {
  margin-top: 80px;
  font-size: 16px;
  line-height: 32px;
  max-width: 680px;
  background: #FFF;
  padding: 32px;
  box-shadow: 0px 32px 64px rgba(0, 0, 0, 0.08);
  margin-left: auto;
  margin-right: auto;
}

.skillset {
  /*margin-top: 80px;*/
  display: block;
}

@media (min-width: 768px) {
  .skillset {
    margin-top: 280px;
  }
}

.skill-item {
  margin-top: 32px;
  width: 100%;
  height: 240px;
  background-color: #4131FF;
  margin-bottom: 24px;
  position: relative;
  top: 0;
  transition: all 200ms ease-in-out;
}

.skill-img {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 40px;
}

.skill-title {
  font-size: 24px;
  text-align: center;
  font-weight: 800;
  position: relative;
  top: 64px;
  color: #fff;
}

.grad-title {
  font-size: 24px;
  font-weight: 800;
  position: relative;
  color: #4131FF;
}

.about-list {
  padding: 16px;
  width: 100%;
  height: 64px;
  background: #fff;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}

.list-txt {
  line-height: 32px;
  font-size: 12px;
  font-weight: 300;
  display: block;
}

@media (min-width: 576px) {
  .list-txt {
    font-size: 16px;
  }
}

.about-list.tools-list {
  background: #4131FF !important;
  height: 96px;
}

.about-list.tools-list {
  background: #4131FF !important;
  height: 96px;
}

@media (min-width: 576px) {
  .about-list.tools-list {
    background: #4131FF !important;
    height: 64px;
  }
}

.list-txt.tools-txt {
  color: #fff;
  font-size: 14px;
  display: block;
  margin: 0 auto;
  width: 98%;
  text-align: center;
}

.txt-status {
  font-size: 12px;
  display: block;
  font-weight: 600;
  background: #4131FF;
  padding: 6px;
  display: block;
  float: left;
  color: #FFF000;
  position: relative;
  top: 3px;
  margin-right: 16px;
  width: 64px;
  text-align: center;
}

.about-list.tools {
  height: 316px;
}

.about-list.tools {
  /*padding: 12px;*/
  /*margin-left: 0;*/
}

.tools-l {
  width: 100%;
  height: 140px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  margin-bottom: 12px;
  position: relative;
}

.tools-l img {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
  display: block;
  /*width: 36px;*/
  margin: 0 auto;
  position: relative;
  top: 16px;
  filter: grayscale(100%);
  opacity: 0.5;
}

.tools-l h1 {
  font-size: 11px;
  text-align: center;
  color: #000;
  font-weight: 300;
  margin-top: 32px;
}

@media (min-width: 576px) {
  .tools-l h1 {
    font-size: 16px;
  }
}

.col.col-tool {
  padding-left: 4px;
  padding-right: 4px;
}

.navnav {
  display: block;
  float: right;
  padding: 8px;
  background: rgba(65, 49, 255, 1);
  backdrop-filter: blur(4px);
  position: relative;
  top: 16px;
  box-shadow: 0px 32px 64px rgba(0, 0, 0, 0.15);
  display: none;
  z-index: 999;
}

@media (min-width: 768px) {
  .navnav {
    display: block;
  }
}

.navnav dl, ol, ul {
  padding-left: 14px;
  list-style-type: none;
}

.navnav li {
  float: right;
  margin-right: 24px;
}

.navnav li a {
  position: relative;
  top: 3px;
  font-size: 16px;
  font-weight: 600;
  display: block;
  color: white;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  opacity: 0.5;
}

.navnav li .active {
  opacity: 1;
  border-bottom: 3px solid #fff000;
}

.home-icn {
  position: relative;
  top: 6px;
  width: 32px;
  height: 32px;
  background: #ffF000;
  padding: 8px;
}

.home-icn img {
  display: block;
  width: 16px;
}

.album {
  width: 800px;
  height: 800px;
  background: #000;
  margin: 0 auto;
}

.mobile-menu {
  background: #fff000;
  width: 32px;
  height: 32px;
  border-radius: 0;
  position: relative;
  top: -2px;
  padding: 3px;
}

.mobile-menu:hover {
  background: #fff000;
}

.mobile-menu img {
  width: 16px;
}

.row.navnav-row {
  /*position: fixed;*/
  /*float: right;*/
  /*top: 0px;*/
  /*right: 1px;*/
  /*z-index: 9999;*/
  /*right: 0%;*/
  /*top: 0%;*/
  /*transform: translateX(-9%);*/
}

.mobile-nav-bg {
  display: block;
  float: right;
  width: 56px;
  height: 56px;
  background: rgba(65, 49, 255, 0.8);
  backdrop-filter: blur(8px);
  padding: 12px;
}

#mobile-nav {
  position: relative;
  z-index: 9999;
  position: fixed;
  top: 0px;
  right: 0%;
  display: block;
}

@media (min-width: 768px) {
  #mobile-nav {
    display: none;
  }
}

.desk-nav-container {
  top: -8px;
  /*width: 640px;*/
  z-index: 9999;
  position: fixed;
}

.back-button {
  position: fixed;
  width: 56px;
  height: 56px;
  background: rgba(65, 49, 255, 0.8);
  backdrop-filter: blur(4px);
  left: 0;
  padding: 12px;
}

.article-heading {
  font-size: 40px;
  font-weight: 800;
  /*display: block;*/
  color: #4131ff;
  /*float: left;*/
  /*clear: left;*/
}

@media (min-width: 576px) {
  .article-heading {
    font-size: 40px;
  }
}

.article-type {
  font-size: 16px;
  font-weight: 800;
  /*display: block;*/
  color: #4131ff;
  float: left;
  background-color: #fff000;
  padding: 8px;
  /*clear: right;*/
  margin-bottom: 16px;
}

.work-sum-container {
  position: relative;
  width: 90%;
  /*height: 280px;*/
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(4px);
  padding: 32px;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
  top: -56px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .work-sum-container {
    /*height: 280px;*/
  }
}

@media (min-width: 768px) {
  .work-sum-container {
    width: 100%;
    top: 256px;
    margin: 0 auto;
    /*height: 256px;*/
  }
}

.works-cover {
  margin-top: 24px;
  width: 100%;
  max-height: 320px;
  background-image: url("../../assets/img/kai-cover.png");
  background-size: cover;
  height: 100vh;
  filter: grayscale(0%);
  opacity: 1;
}

@media (min-width: 768px) {
  .works-cover {
    width: 171%;
  }
}

@media (min-width: 768px) {
  .works-cover {
    margin-top: 0;
  }
}

.works-summary {
  margin-top: 16px;
  width: 100%;
  font-size: 16px;
  position: relative;
  /*float: left;*/
  line-height: 200%;
}

.showcase.works-video {
  width: 100%;
  /*float: left;*/
  margin: 0 auto;
  box-shadow: 0px 24px 48px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .showcase.works-video {
    width: auto;
    float: right;
  }
}

.works-content {
  margin-top: -132px;
}

@media (min-width: 768px) {
  .works-content {
    margin-top: 356px;
  }
}

#other-works {
  margin-top: 12px;
}

@media (min-width: 768px) {
  #other-works {
    margin-top: -96px;
  }
}

@media (min-width: 992px) {
  #other-works {
    margin-top: -128px;
  }
}

.works-img {
  width: 100%;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}

.sect-about {
  margin-top: 40px;
}

@media (min-width: 768px) {
  .sect-about {
    margin-top: -156px;
  }
}

.sect-article {
  margin-top: -156px;
}

@media (min-width: 768px) {
  .sect-article {
    margin-top: 156px;
  }
}

.my-time {
  display: none;
}

@media (min-width: 576px) {
  .my-time {
    display: block;
  }
}

.img-grid .col {
  margin-bottom: 32px;
}

.pain-point li {
  display: block;
  background: #FF4A31;
  padding: 8px;
  margin-bottom: 8px;
  margin-right: 8px;
  color: #fff;
  /*width: 100%;*/
}

@media (min-width: 992px) {
  .pain-point li {
    display: inline-block;
  }
}

.pain-point {
  margin-left: -12px;
}

.finding {
  color: #fff;
  background: #4131ff;
  padding: 8px;
}

.direction {
  color: #fff;
  font-weight: 600;
  background: #4131ff;
  padding: 16px;
  margin-bottom: 16px;
}

.direction p {
  margin-bottom: 0px;
}

.row-fix-height {
  margin-top: 580px;
}

