*{
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
    height: 100vh;
}
.container{
    height: 100%;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 168px repeat(11, 1fr);
    grid-template-rows: 168px auto
    grid-template-areas: 
            "p h h h h h h h h h h h"
            "p c c c c c c c c c c c"
            ;
}
header{
    background-color: aqua;
    grid-area: h;
    opacity: 0.1;
}
/*sidepanel*/
.side-panel{
    background-color: #fff;
    grid-area: p;
    position: fixed;
    height: 100%;
}
.icon-container{
    margin: 0;
    padding: 0;
    width: 168px;
    height: 168px;
    background-color: #F6FF2F;
    text-align: center;
    line-height: 56px;
}
.icon{
    width: 100%;
}
.icon-container.action{
    position: absolute;
    width: 100%;
    bottom: 0px;
}
/*sidepanel*/
.content-area{
    background-color: gray;
    grid-area: c;
    opacity: 0.1;
}
/*footer*/
footer{
    grid-area: f;
}
.action-button-container{
    background-color: #2258FF;
}
.btn-action{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    position: absolute;
    font-size: 32px;
    color: #fff;
    border: none;
    border-style: none;
    background-color: #2258FF;
    width: 432px;
    height: 168px;
    bottom: 0;
    left: 168px;
    outline: none;
    text-align: center;
    line-height: 168px;
    text-decoration: none;
}
/*footer*/